# OS X
*.DS_Store
._*
# Wakanda preferences
*.waPreferences
# Wakanda log
*.waLog
*/Logs
studio_log*
# Wakanda code symbols
*.waSym
*.waSymData
# Wakanda index
*.waIndx
*.Match
# Wakanda data
*.waData
*(compacting)*
# Wakanda User and Group cache
*.cacheUAG
# Wakanda backup
*.waBackup
*.breakpoints
*nogit*
*.waDirectory
WakandaDB-Academy Solution/breakpoints.json
