@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
body#waf-body{
	min-height:1124px;
}
body#waf-body *{
	font-family: 'Roboto Condensed', sans-serif;
}

.isLink{
	cursor:pointer;
}

.waf-fileUpload input{
	width:100%;
	height:100%;
}

.waf-dataGrid-body{
	overflow-x: hidden;
}

.ui-widget{
	font-size: 0.7em;
}

.waf-combobox-list .ui-menu-item a.ui-state-hover {
 background-image:none;
 background-color:rgb(152, 200, 255);
 color:#676767;
}

.waf-combobox-list .ui-menu-item a {
 line-height: 2;
 font-size: 13px;
}

.sm-error{
	border-color:red !important;
	border-width:1px;
	border-style:solid;
}

.ui-dialog[role=dialog]{
	z-index:10005 !important;
}

.dhtmlx_modal_box{
	z-index:100002;
}

.waf-combobox-list {
 border-color: rgb(230, 230, 230);
 box-shadow:none;
}
.waf-combobox.waf-state-active{
 text-shadow:none;
}

.tabContainer.selected.waf-project-paramsTab .waf-widget.waf-richText {
	color: #929292 !important;
}

.waf-dataGrid-cell .remove{
	position: absolute;
	top:0px;
	left:0px;
}
.waf-dataGrid-row:not(.waf-state-active):not(.waf-state-hover) .waf-dataGrid-cell .remove{
	display:none;
}

.waf-dataGrid-cell.editing.colorPicker .remove{
	display:none;
}

.waf-dataGrid-cell.editing.colorPicker input[type=text]{
	width:100% !important;
}

.colorpicker{
	z-index:10;
}

.dhx_cal_event .dhx_footer{
	background-image:none;
}

div.dhx_menu_head {
	display:none;
}

.dhx_save_btn_set{
 color: white;
 background-color: rgb(84, 164, 255);
 width: 64px;
 background-image: url(/images/icon-login.png);
 background-repeat: no-repeat;
 background-position: 13% 50%;
 padding-left: 20px;
 height: 33px;
 border: none;
 text-shadow: none;
 margin-right: 22px;
 margin-left: 10px;
}

.dhx_cancel_btn_set {
 margin-right: 0px;
 border: none;
 color: rgb(154, 32, 61);
 background-image: url(/images/delete_rec.png);
 background-repeat: no-repeat;
 background-position: 13% 50%;
 padding-left: 16px;
}

.dhx_delete_btn_set {
 border: 1px solid #FF8831;
 background-color: #FF8831;
 color: white;
 text-shadow: none;
 margin-left: 16px;
}

/* Style the search input field. */
.waf-container.search{
	background-color:transparent;
	border: none;
}
.search form{
    border: none;
 	height: 100%;
    float:left;
    background-color:white;
    border-radius:4px;
}
.search form .field {
    float:left; 
    height:100%; 
    line-height:100%;
    text-indent:10px; 
    font-family:arial, sans-serif; 
    font-size:1em; 
    color:#333; 
    border:none; 
    margin: 1px;
}
 
/* Style the "X" text button next to the search input field */
.search form .delete {
    float:left; 
    width:14px;
    height:100%; 
    line-height:100%; 
    margin-right:1px; 
    padding:0 10px 0 10px;
    font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
    font-size:22px; 
    background: #fff;  
    border:none;
    display:table;
}

.search form .delete span{
 display: table-cell;
 vertical-align: middle;
}
 
/* Style the "X" text button next to the search input field */
.search button{
    height: 100%;
 	right: 0px;
 	position: absolute;
 	width: 10%;
 	border-radius:4px;
 	background-color:#54a4ff;
 	background-image: url( /images/search-icon.png );
 	border:none;
}
/* Set default state of "X" and hide it */
.search form .delete span {
    color:#A1B9ED; 
    cursor:pointer;
    display:none;
}
/* Set the hover state of "X" */
.search form .delete span:hover {
    color:#36c;
}
/* Clear floats */
.fclear {clear:both}

/* @theme:waf-project-link="default inherited" */

.waf-richText.waf-project-link {
	cursor: pointer;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	text-decoration: underline;
	color: rgb(86, 86, 255);
	}

.dhx_menu_icon.icon_edit{
	display: none;
}

.dhx_cal_container.calendar{
	border-radius:0px;
}

.dhx_cal_container.calendar *{
	box-sizing: initial !important;
	-moz-box-sizing: initial !important; /* Firefox */
	-webkit-box-sizing: initial !important; /* Safari */
}

.dhx_cal_tab{
	background-color:#929292;
	color:white;
	font-size:15px;
}

.dhx_cal_cover{
	opacity:0.7;
}

.dhx_cal_tab.active{
	background-color:#54a4ff;
	color:white;
	text-shadow:none;
	font-weight: normal;
}

.dhx_cal_tab,
.dhx_cal_today_button{
	height:33px;
	font-weight: normal;
}

.dhx_scale_hour{
	font:13px/129px Arial;
	text-align: center;
	vertical-align: middle;
}

.dhx_scale_bar{
	font:15px/38px Arial;
	height:50px !important;
}

.dhx_cal_event .dhx_body,
.dhx_cal_event .dhx_title{
	border-radius: 0px;
	text-align: center;
	vertical-align: middle;
	font-size:11px
}

.dhx_cal_larea{
	margin-left:0px !important;
	width:814px !important;
}

.dhx_cal_larea.view{
	margin-left:0px !important;
	width:570px !important;
}

.dhx_cal_event .dhx_title{
	height:13px;
}

.dhx_cal_today_button{
	background-color:#929292;
	color:white;
	font-size:15px;
	width:63px;
	right:66px;
}

.dhx_cal_prev_button,
.dhx_cal_next_button{
	border:none;
	top:16px !important;
	width:22px;
}

.dhx_cal_prev_button{
	right:40px
}

.dhx_cal_next_button{
	right:16px
}

#dhx_minical_icon{
	right: 326px;
	top:17px;
	left: auto;
}

.dhx_cal_navline .dhx_cal_date{
	width: 688px;
	top:16px;
	color:#2a2a2a;
	text-align:right;
	font-size:16px;
}

.icon_expand {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-o-transform: rotate(-90deg); /* Opera */
	-moz-transform: rotate(-90deg); /* Firefox */
}/* @theme:waf-project-nostyle="default inherited" */

.waf-container.waf-project-nostyle,
.smColorPicker.nostyle {
	background-color: transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-style: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

/* @theme:waf-project-menuItem="default inherited" */

.waf-container.waf-project-menuItem {
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius:40px;
	border-style: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	cursor: pointer;
}

.waf-container.waf-project-menuItem.disabled{
	opacity:0.3;
}

.waf-container.waf-project-menuItem:hover:not(.disabled) .waf-richText.waf-project-menuItem-text,
.waf-container.waf-project-menuItem.selected .waf-richText.waf-project-menuItem-text{
	color: rgb(255, 255, 255);
}

/* @theme:waf-project-menuItem-text="default inherited" */

.waf-richText.waf-project-menuItem-text {
	font-weight: bold;
	color: #929292;
	font-size: 18px;
	border-width: 0px;
}/* @theme:waf-project-matrixItem="default inherited" */

.waf-container.waf-project-matrixItem {
	cursor:pointer;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0px;
	-moz-borde-top-right-radius: 0px;
	-webkit-border-radius: 0px;
	border-style: none;
}

.waf-container.waf-project-matrixItem.waf-state-selected{
	border: 5px rgb(86, 163, 255) solid !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	
}
.waf-container:not(.waf-state-selected).waf-project-matrixItem:hover{
	/*background-color: rgba(202, 202, 202, 0.42);*/
}
/* @theme:waf-project-matrix="default inherited" */

.waf-matrix.waf-project-matrix {
	background-color: rgb(238, 238, 238);
	border-width: 0px;
}
select:not(.ui-datepicker-month):not(.ui-datepicker-year){
	width: 117px;
	height: 33px;
	border: 1px rgb(223, 223, 223) solid;
	border-radius: 4px;
	-webkit-appearance: none;
	background: white url(/images/select.png) no-repeat 85% 50%;
	box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	font-size: 15px !important;
	font-weight:300;
	padding-left:14px !important;
	color: #676767 !important;
}

.dhx_form_repeat{
	font-weight:300;
	font-size:15px;
	color:rgb(103,103,103);
}

.dhx_repeat_right{
	width:162px;
}
.dhx_form_repeat input[type=text]{
	height:29px;
	font-size:15px;
	font-weight:300;
	margin: 0 4px 0 4px;
	border:1px rgb(223,223,223) solid;
	border-radius:4px;
}
.dhx_form_repeat .dhx_repeat_text{
	width:28px;
}

.dhx_cal_light{
	border:none;
	box-shadow:none;
}

.dhx_cal_ltitle{
	background-color: #929292;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color:white;
	font-size:15px;
	font-weight:300 !important;
}

.dhx_wrap_section.time_section{
	height:39px;
	background-color:#eae9e9;
}

.dhx_wrap_section.time_section .dhx_cal_lsection,
.dhx_wrap_section.time_section .dhx_readonly{
	
	background-color:transparent;
}

.dhx_wrap_section.repeat_section .dhx_cal_lsection{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 34px;
	text-align:left;
	background-color:#d1d0d0;
	color:#636363;
	padding-top:14px;
}

.dhx_wrap_section.repeat_section{
	padding-top:0px;
	padding-bottom:0px;
}

.dhx_wrap_section.details_section{
	padding-top:0px;
    background-color: rgb(234, 233, 233);
    border-bottom: none;
}

.dhx_cal_light_rec.dhx_cal_light_wide {
	background-color: rgb(234, 233, 233);
}

.dhx_cal_light_rec.dhx_cal_light_wide.view {
	width:570px;
}

.dhx_cal_light_rec.dhx_cal_light_wide .dhx_cal_larea {
	border: none;
}

.dhx_form_repeat select{
	height:33px;
	width:108px;
	padding: 0 0 0 2px;
	margin: 4px 4px 2px 4px;
}

.dhx_section_time input.dhx_readonly{
	width: 69px;
	font-size:14px;
}

/* @theme:waf-project-smCombo="default inherited" */

.waf-combobox.waf-project-smCombo {
	background-image: none;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(230, 230, 230);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	font-size: 15px;
	color: rgb(103, 103, 103);
	font-weight: normal;
	background-color: rgb(255, 255, 255);
	border-radius:4px;
}

.waf-combobox.waf-project-smCombo input{
	font-size:15px;
}

.waf-combobox.waf-project-smCombo button{
	border:none;
	right:0px;
}

.waf-combobox.waf-project-smCombo button span:not(.ui-button-text),
.waf-combobox.waf-project-smCombo .ui-icon{
	background-image: url(/walib/WAF/lib/jquery-ui/themes/base/images/ui-icons_888888_256x240.png) !important;
}

.waf-combobox.waf-project-smCombo.waf-state-default .ui-icon,
.waf-combobox.waf-project-smCombo.waf-state-hover .ui-icon{
	background-position: 27% 7%;
}
.waf-combobox.waf-project-smCombo.waf-state-active .ui-icon{
	background-position: 0% 7%;
}

.waf-container.waf-project-matrixItem:hover .showOnHover{
	visibility:visible;
}

.waf-container.waf-project-matrixItem .showOnHover{
	visibility:hidden;
}

.waf-login-logout,
.waf-login-login{
	color:#51a5e5;
}/* @theme:waf-project-smTextField="default inherited" */

.waf-textField.waf-project-smTextField {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-color: rgb(230, 230, 230);
	background-color: rgb(255, 255, 255);
	color: rgb(103, 103, 103);
	font-size: 15px;
}/* @theme:waf-project-smContainerTV="default inherited" */

.waf-container.waf-project-smContainerTV {
	 top: 28px;
	 bottom: 5px;
	 left: 5px;
	 right: 0px;
	 border:0px;
	 position: absolute;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-moz-border-radius: 0px;
	 border: none;
	 background-color: rgb(238, 238, 238);
}

/* @theme:waf-project-smButton="default inherited" */

.waf-button.waf-project-smButton {
	background-color: rgb(84, 164, 255);
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9IndhZi1pZS1ncmFkaWVudCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIG9mZnNldD0iMTAwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN3YWYtaWUtZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
	background-image: -webkit-gradient(linear,0% 0%, 0% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(255,255,255,0)));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.148438) 0px 0px 0px 0px;
	-moz-box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.148438) 0px 0px 0px 0px;
	-webkit-box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.148438) 0px 0px 0px 0px;
	color: rgb(255, 255, 255);
	text-shadow: rgb(255, 255, 255) 0px 0px 0px;
	font-size: 13px;
	border-top-style: none;
	border-top-color: transparent;
	border-left-style: none;
	border-left-color: transparent;
	border-right-style: none;
	border-right-color: transparent;
	border-bottom-style: none;
	border-bottom-color: transparent;
	font-weight: normal;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	cursor:pointer;
}

/* @theme:waf-project-smTextFieldLogin="default inherited" */

.waf-textField.waf-project-smTextFieldLogin {
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	box-shadow: rgba(0, 0, 0, 0.0664063) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0664063) 0px 0px 0px 0px inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.0664063) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0664063) 0px 0px 0px 0px inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0664063) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.0664063) 0px 0px 0px 0px inset;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	color: rgb(88, 87, 87);
	font-size: 14px;
	font-weight: normal;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}

/* @theme:waf-project-paramsTab="default inherited" */

.waf-container.waf-project-paramsTab {
	border:none;
	background-color: #929292;
	-moz-border-bottom-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 4px !important;
	-moz-border-top-left-radius: 4px !important;
	-webkit-border-top-left-radius: 4px !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	cursor:pointer;

}


.waf-container.waf-project-paramsTab.selected{
	background-color:#e5e5e5;
}

















/* @theme:waf-project-smDataGrid="default inherited" */

.waf-dataGrid.waf-project-smDataGrid {
	border-top-color: rgb(237, 237, 237);
	border-left-color: rgb(237, 237, 237);
	border-right-color: rgb(237, 237, 237);
	border-bottom-color: rgb(237, 237, 237);
	box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 0px 0px;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	}

.waf-dataGrid.waf-project-smDataGrid .waf-dataGrid-row.waf-state-active.waf-dataGrid-body  {
	}

.waf-dataGrid.waf-project-smDataGrid .waf-dataGrid-row.waf-state-active.waf-dataGrid-row.waf-widget-even  {
	}

.waf-dataGrid.waf-project-smDataGrid .waf-dataGrid-row.waf-state-selected {
	color:rgb(103, 103, 103);
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
	border-top-color:transparent;
	border-top-style:none;
	border-bottom-color:transparent;
	border-bottom-style:none;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	background-color:rgb(152, 200, 255);
}

.waf-dataGrid.waf-project-smDataGrid .waf-dataGrid-row.waf-state-active {
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	background-image:-webkit-gradient(linear, 0% 100%, 0% 0%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
	border-top-color:transparent;
	border-bottom-color:transparent;
	text-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 0px;
	color:rgb(103, 103, 103);
	background-color:rgb(152, 200, 255);
	border-left-width:0px;
	border-right-width:0px;
}

.waf-dataGrid.waf-project-smDataGrid .waf-dataGrid-row.waf-state-active .waf-dataGrid-cell{
	border-left-color: rgb(237, 237, 237);
}

.waf-dataGrid.waf-project-smDataGrid .waf-dataGrid-row.waf-state-hover.waf-dataGrid-row.waf-widget-odd  {
	}

.waf-dataGrid.waf-project-smDataGrid .waf-dataGrid-row.waf-state-hover.waf-dataGrid-row.waf-widget-even  {
	}

.waf-dataGrid.waf-project-smDataGrid .waf-dataGrid-row.waf-state-hover {
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-right-color:rgba(0, 0, 0, 0);
	border-top-style:none;
	border-bottom-style:none;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
	border-right-color:transparent;
	border-right-style:none;
	border-top-color:transparent;
	border-bottom-color:transparent;
	color:rgb(103, 103, 103);
	background-color:rgb(152, 200, 255);
	border-left-width:0px;
	border-right-width:0px;
	border-top-style:solid;
	border-top-width:1px;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.waf-dataGrid.waf-project-smDataGrid .waf-dataGrid-header {
	 background-image:url("data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9IndhZi1pZS1ncmFkaWVudCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIG9mZnNldD0iMTAwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN3YWYtaWUtZ3JhZGllbnQpIiAvPjwvc3ZnPg==");
	 background-image:-webkit-gradient(linear,0% 0%, 0% 100%,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(255,255,255,0)));
	 background-image:-webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
	 background-image:-moz-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
	 background-image:-ms-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
	 background-image:-o-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
	 background-image:linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 100%);
	 background-color: rgb(255, 255, 255);
	 border-top-color: rgb(237, 237, 237);
	 border-left-color: rgb(237, 237, 237);
	 border-right-color: rgb(237, 237, 237);
	 border-bottom-color: rgb(237, 237, 237);
	 
}
.waf-dataGrid.waf-project-smDataGrid .waf-dataGrid-header .waf-dataGrid-cell{
	color:rgb(26,24,24);
	font-weight:normal;
}

.waf-dataGrid.waf-project-smDataGrid .waf-dataGrid-body .content{
	color:rgb(103,103,103);
} 
/* @theme:waf-project-noStyle="default inherited" */

.waf-container.waf-project-noStyle {
	background-color: transparent;
	border-top-style: none;
	border-top-color: transparent;
	border-left-style: none;
	border-left-color: transparent;
	border-right-style: none;
	border-right-color: transparent;
	border-bottom-style: none;
	border-bottom-color: transparent;
	-moz-border-top-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 0px 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	}

/* @theme:waf-project-smSearchbutton="default inherited" */

.waf-container.waf-project-smSearchbutton {
	cursor:pointer;
	box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 0px 0px 0px;
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 3px  !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	background-color: rgb(84, 164, 255);
	}

/* @theme:waf-project-btnAll="default inherited" */

.waf-button.waf-project-btnAll {
	background-color: rgb(146, 146, 146);
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.148438) 0px 0px 0px 0px;
	-moz-box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.148438) 0px 0px 0px 0px;
	-webkit-box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.148438) 0px 0px 0px 0px;
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(0, 0, 0, 0.148438) 0px 0px 0px 0px;
	color: rgb(255, 255, 255);
	text-shadow: rgb(255, 255, 255) 0px 0px 0px;
	font-weight: bold;
	font-size: 15px;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9IndhZi1pZS1ncmFkaWVudCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHgyPSIwIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjxzdG9wIHN0b3AtY29sb3I9IiNmZmZmZmYiIG9mZnNldD0iMTAwJSIgc3RvcC1vcGFjaXR5PSIwIiAvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN3YWYtaWUtZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
	background-image: -webkit-gradient(linear,0% 0%, 0% 100%,color-stop(0, rgba(255, 255, 255, 0)),color-stop(1, rgba(255, 255, 255, 0)));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 100%);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 100%);
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 100%);
border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	}

